.row{   

    background-color:black;
    color:white;
    font-size:20px;
}
.headshot{
    width:20%;
   
}
.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border:1px solid black;   
}
.row {
    display: flex;
    justify-content: space-between;
    font-family: Exo, sans-serif;
    font-family: Orbitron, sans-serif;
}
.row1 {
    border: 1px black solid;
    width: 10px;
    height: 50px;
    background-color: red;
}

.row2 {
    border: 1px black solid;
    width: 10px;
    height: 50px;
    background-color: red;
}
.row3 {
    border: 1px black solid;
    width: 10px;
    height: 50px;
    background-color: red;
}
body {
    background-color: black;
}
.kanye {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
}